NEXTAUTH_URL=http://localhost:3004
NEXTAUTH_SECRET=replace-with-openssl-rand-base64-32
GOOGLE_CLIENT_ID=630632638195-7785aqknrtvuob37mi642bkor8h87l02.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=
POCKETBASE_URL=https://db.aiceo.im
POCKETBASE_ADMIN_EMAIL=
POCKETBASE_ADMIN_PASSWORD=
